<script type="text/javascript">
  $(document).ready(function(){
    $("#sending, #sent").hide();
    $(".reply_message_button").click(function(){
      $(".reply_message_form_form").hide();
      $("#sending").show();
      
      $.post("/reply_message", $("form.reply_message_form_form").serialize(), function(data) {
        console.log(data);
      })
      .done(function() {
        console.log("success!");
        $("#sending").hide();
        $("#sent").show();
      })
      .fail(function() {
        console.log("failed!"); //TODO: error-handling, message to user in GUI
      });
      
      return false; //prevent form from submitting
    });
  });
</script>
<div id="left_column">
  <h4 id="content_title_bar">Message</h4>
  <div id="message_message">
    <p>
      <%= @message.body %>
    </p>
  </div>
  <h4 id="content_title_bar">Want to reply to <%= @sender.username %>?</h4>
  <div id="reply_message_form">
    <%= form_tag reply_message_path, :class => "reply_message_form_form", :remote => true do %>
      <%= hidden_field_tag :topic, @message.topic %>
      Message: <%= text_area_tag :body %><br/>
      <%= hidden_field_tag :recipient_id, @sender.id %>
      <%= submit_tag "Send Message", :class => "reply_message_button" %>
    <% end %>
    <p id="sending">Sending...</p>
    <p id="sent">Successfully sent!</p>
  </div>
</div>
<div id="right_column">
  <h4 id="content_title_bar">Sender Info</h4>
  <div id="basic_info">
    <table id="basic_info_table">
      <tbody>
        <tr>
          <td class="left">Username</td>
          <td class="right"><%= @sender.username %></td>
        </tr>
        <tr>
          <td class="left">Location</td>
          <td class="right"><%= @sender.zipcode %></td>
        </tr>
<!--        <tr>
          <td class="left">Last Login</td>
          <td class="right"><%= @sender.last_sign_in_at %></td>
        </tr>-->
        <tr>
          <td class="left">Status</td>
          <td class="right"><%= @sender.marital_status %></td>
        </tr>
        <tr>
          <td class="left">Age</td>
          <td class="right"><%= @sender.age %></td>
        </tr>
        <tr>
          <td class="left">Height</td>
          <td class="right"><%= @sender.height_feet %>' <%= @sender.height_inches %>"</td>
        </tr>
        <tr>
          <td class="left">Weight</td>
          <td class="right"><%= @sender.weight %></td>
        </tr>
        <tr>
          <td class="left">Smokes</td>
          <td class="right"><%= @sender.smoke %></td>
        </tr>
        <tr>
          <td class="left">Drinks</td>
          <td class="right"><%= @sender.drink %></td>
        </tr>
        <tr>
          <td class="left">Religion</td>
          <td class="right"><%= @sender.religion %></td>
        </tr>
        <tr>
          <td class="left">Sign</td>
          <td class="right"><%= @sender.sign %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4 id="content_title_bar">Advertisement</h4>
  <div id="tall_banner_container">
    <div id="tall_banner">
    </div>
  </div>
</div>
