<script type="text/javascript">
  $(document).ready(function(){
    $("#sending, #sent").hide();
    $(".send_message_button").click(function(){
      $(".send_message_form_form").hide();
      $("#sending").show();
      
      $.post("/send_message", $("form.send_message_form_form").serialize(), function(data) {
        console.log(data);
      })
      .done(function() {
        console.log("success!");
        $("#sending").hide();
        $("#sent").show();
      })
      .fail(function() {
        console.log("failed!"); //TODO: error-handling, message to user in GUI
      });
      
      return false; //prevent form from submitting
    });
  });
</script>
<div id="left_column">
		<% if @user.user_pictures.count > 0 %>
			<h4 id="content_title_bar"> Pictures</h4>
			<div id="pictures">
				<% @user.user_pictures.each do |n| %>
					<span class="picture_box"><%= image_tag n.picture.url(:thumb) %></span>			 
				<% end %>
			</div>
		<% end %>
	<h4 id="content_title_bar">Essays</h4>
	<div id="profile_essays">
		<dl>
			<dt>About Me</dt>
			<dd><%= @user.about %></dd>
			<dt>My Diagnosis</dt>
			<dd><%= @user.diagnosis_story %></dd>
			<dt>Special Needs</dt>
			<dd><%= @user.special_needs %></dd>
			<dt>Things I Do</dt>
			<dd><%= @user.things_i_do %></dd>
			<dt>Things I Don't Do</dt>
			<dd><%= @user.things_i_dont_do %></dd>
			<dt>Obsessions</dt>
			<dd><%= @user.obsessions %></dd>
			<dt>Who I'd Like To Meet</dt>
			<dd><%= @user.who_id_like_to_meet %></dd>
			<dt>7 Things I Adore</dt>
			<dd><%= @user.seven_things_i_adore %></dd>
		</dl>
	</div>
	<h4 id="content_title_bar">Want to talk to <%= @user.username %>?</h4>
  <div id="send_message_form">
    <%= form_tag send_message_path, :class => "send_message_form_form", :remote => true do %>
      Subject: <%= text_field_tag :topic %><br/>
      Message: <%= text_area_tag :body %><br/>
      <%= hidden_field_tag :recipient_id, @user.id %>
      <%= submit_tag "Send Message", :class => "send_message_button" %>
    <% end %>
    <p id="sending">Sending...</p>
    <p id="sent">Successfully sent!</p>
  </div>
</div>
<div id="right_column">
	<h4 id="content_title_bar">Basic Info</h4>
	<div id="basic_info">
		<table id="basic_info_table">
			<tbody>
				<tr>
					<td class="left">Username</td>
					<td class="right"><%= @user.username %></td>
				</tr>
				<tr>
					<td class="left">Location</td>
					<td class="right"><%= @user.zipcode %></td>
				</tr>
<!--				<tr>
					<td class="left">Last Login</td>
					<td class="right"><%= @user.last_sign_in_at %></td>
				</tr>-->
				<tr>
					<td class="left">Status</td>
					<td class="right"><%= @user.marital_status %></td>
				</tr>
				<tr>
					<td class="left">Age</td>
					<td class="right"><%= @user.age %></td>
				</tr>
				<tr>
					<td class="left">Height</td>
					<td class="right"><%= @user.height_feet %>' <%= @user.height_inches %>"</td>
				</tr>
				<tr>
					<td class="left">Weight</td>
					<td class="right"><%= @user.weight %></td>
				</tr>
				<tr>
					<td class="left">Smokes</td>
					<td class="right"><%= @user.smoke %></td>
				</tr>
				<tr>
					<td class="left">Drinks</td>
					<td class="right"><%= @user.drink %></td>
				</tr>
				<tr>
					<td class="left">Religion</td>
					<td class="right"><%= @user.religion %></td>
				</tr>
				<tr>
					<td class="left">Sign</td>
					<td class="right"><%= @user.sign %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<h4 id="content_title_bar">Advertisement</h4>
	<div id="tall_banner_container">
		<div id="tall_banner">
		</div>
	</div>
</div>
