<!DOCTYPE html>
<html>
<head>
  <title>Warple</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "thats_amore.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<!-- TODO: Find a new spot for flash messages -->
<!-- <% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %> -->

		<div id="wrapper">
			<div id="top_bar">
				<% if user_signed_in? %>
					Signed in as <b><%= current_user.username %></b> | <%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %>
				<% end %>
			</div>
			<div id="title_bg">
				<%= image_tag "title.png", :alt => "AspieAmore" %>
					<% unless user_signed_in? %>
						<div id="login">
							<%= form_for("user", :url => user_session_path) do |f| %>
								<%= f.email_field :email, :class => "input", :size => 20, :value => "Email Address" %>
								<%= f.password_field :password, :class => "input", :size => 20, :value => "Password" %>
								<%= f.submit "Sign In" %>
							<% end %>
						</div>
					<% end %>
			</div>
			<div id="menu_top"></div>
			<div id="menu">
				<div id="menu_left"></div>
				<div id="menu_button"><p><%= link_to "Home", root_path %></p></div>
				<div id="menu_button"><p><%= link_to "Messages", inbox_path %></p></div>
				<div id="menu_button"><p>My Stuff</p></div>
				<div id="menu_button"><p><%= link_to "Search", browse_path %></p></div>
				<div id="menu_button"><p>Community</p></div>
				<div id="menu_button"><p>Help</p></div>
				<div id="menu_right"></div>
			</div>
			<div id="menu_bottom"></div>
			<div id="under_menu_shadow"></div>
			<div id="main_container">
				<div id="main">
						<%= yield %>
				</div>
			<br class="clear"/>
			</div>
			<div id="bottom_bar">
			</div>
			<div id="copyright_bar">AspieAmore &copy;2012 - Programmed in Ruby</div>
		</div>
	</body>
</html>